parameters:
    autoload_directories:
        - %currentWorkingDirectory%/src
    autoload_files:
        - %currentWorkingDirectory%/vendor/yiisoft/yii2/Yii.php
        - %currentWorkingDirectory%/vendor/craftcms/cms/src/Craft.php
    ignoreErrors:
        - '#Call to an undefined method ostark\\upper\\Drivers\\AbstractPurger::purgeUrls\(\).#'
        - '#Call to an undefined method craft\\console\\Request::[a-zA-Z0-9_]+\(\)#'
        - '#Call to an undefined method object::setKeyPrefix\(\)#'
        - '#Call to an undefined method craft\\queue\\QueueInterface::push\(\)#'
        - '#Method ostark\\upper\\Plugin::getPurger\(\)#'
        - '#Method ostark\\upper\\Plugin::getTagCollection\(\) should return#'
