parameters:
    autoload_files:
        - %currentWorkingDirectory%/vendor/yiisoft/yii2/Yii.php
        - %currentWorkingDirectory%/vendor/craftcms/cms/src/Craft.php
    ignoreErrors:
        - '#Call to an undefined method ostark\\upper\\drivers\\AbstractPurger::purgeUrls\(\).#'
        - '#Call to an undefined method yii\\web\\Response::[a-zA-Z0-9_]+\(\)#'
        - '#Call to an undefined method craft\\console\\Request::[a-zA-Z0-9_]+\(\)#'
        - '#Call to an undefined method object::setKeyPrefix\(\)#'
        - '#Method ostark\\upper\\Plugin::getPurger\(\)#'
        - '#Method ostark\\upper\\Plugin::getTagCollection\(\) should return#'
        - '#Method ostark\\upper\\PurgerFactory::create\(\) should return#'
